In [1]:
import pandas as pd
import numpy as np
import os
import ast

In [2]:
# Replace 'your_directory_path' with the path to your folder
folder_path = 'atbat'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

In [3]:
csv_files

['2020.csv',
 '2021.csv',
 '2023.csv',
 '2022.csv',
 '2019.csv',
 '2018.csv',
 '2024.csv',
 '2015.csv',
 '2014.csv',
 '2016.csv',
 '2017.csv']

In [4]:
final = pd.DataFrame()

for file in csv_files:
    
    data = pd.read_csv(f'atbat/{file}')
    
    final = pd.concat([data, final])

In [5]:
final = final.sort_values(by='Date')
final.to_csv('atbats.csv')

In [6]:
final.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
final.head()

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,runner_pos,dict_players,Date
644,strikeout,0,Empty,449107,Mike Aviles,vs_LHP,True,2,4,3,8,True,[0],{'init': 0},2014-04-01
435,home_run,3,RISP,474832,Brandon Belt,vs_LHP,False,2,0,4,1,True,"[0, 2, 1]","{'init': 0, 467055: 2, 457763: 1}",2014-04-01
436,field_out,0,Empty,435078,Joaquin Arias,vs_LHP,True,3,0,4,1,True,[0],{'init': 0},2014-04-01
437,single,0,Empty,467827,Gerardo Parra,vs_RHP,False,0,0,4,1,False,[0],{'init': 0},2014-04-01
438,field_out,0,Men_On,431094,Aaron Hill,vs_RHP,True,1,0,4,1,False,"[0, 1]","{'init': 0, 467827: 1}",2014-04-01

In [8]:
third = ['force_out', 'sac_fly', 'field_out', 'field_error', 'fielders_choice', 'sac_bunt', 'sac_fly_double_play', 'fielders_choice_out']

second = ['double', 'single', 'triple']

final['player_position'] = final['Outcome'].apply(lambda x: 3 if x in third else (2 if x in second else 0))

In [9]:
final.loc[final['Outcome'] == 'sac_fly_double_play']

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,runner_pos,dict_players,Date,player_position
159,sac_fly_double_play,1,RISP,588751,Adeiny Hechavarr√≠a,vs_LHP,True,3,2,0,2,False,"[0, 3, 1]","{'init': 0, 457454: 3, 542303: 1}",2014-04-01,3
817,sac_fly_double_play,1,Loaded,594809,Adam Eaton,vs_RHP,True,3,3,1,2,False,"[0, 3, 2, 1]","{'init': 0, 493351: 3, 452095: 2, 544725: 1}",2014-04-02,3
5059,sac_fly_double_play,1,RISP,518934,DJ LeMahieu,vs_LHP,True,2,7,4,7,False,"[0, 3, 1]","{'init': 0, 488681: 3, 453568: 1}",2014-04-05,3
13782,sac_fly_double_play,1,Loaded,471083,Miguel Montero,vs_RHP,True,3,2,3,3,False,"[0, 3, 2, 1]","{'init': 0, 467827: 3, 431094: 2, 502671: 1}",2014-04-14,3
33195,sac_fly_double_play,1,RISP,572816,Corey Dickerson,vs_RHP,True,2,4,1,1,False,"[0, 3, 1]","{'init': 0, 408047: 3, 501647: 1}",2014-05-02,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144580,sac_fly_double_play,1,Loaded,650490,Yandy D√≠az,vs_RHP,True,2,7,6,8,True,"[0, 3, 2, 1]","{'init': 0, 666139: 3, 676609: 2, 656577: 1}",2024-08-24,3
148305,sac_fly_double_play,1,RISP,805779,Jacob Wilson,vs_RHP,True,3,6,9,8,True,"[0, 3, 1]","{'init': 0, 680869: 3, 680474: 1}",2024-08-28,3
149468,sac_fly_double_play,1,Loaded,663697,Jonathan India,vs_LHP,True,3,7,6,6,False,"[0, 3, 2, 1]","{'init': 0, 642086: 3, 669289: 2, 642708: 1}",2024-08-29,3
150870,sac_fly_double_play,1,Loaded,553993,Eugenio Su√°rez,vs_LHP,True,3,2,2,1,False,"[0, 3, 2, 1]","{'init': 0, 666971: 3, 605137: 2, 664983: 1}",2024-08-30,3
161538,sac_fly_double_play,1,RISP,680777,Ryan Jeffers,vs_RHP,True,3,6,0,3,False,"[0, 3, 2]","{'init': 0, 663616: 3, 467793: 2}",2024-09-10,3

In [10]:
final['Outcome'].unique()

array(['strikeout', 'home_run', 'field_out', 'single', 'double', 'walk',
       'grounded_into_double_play', 'force_out', 'sac_fly', 'intent_walk',
       'sac_bunt', 'double_play', 'triple', 'hit_by_pitch', 'field_error',
       'pickoff_1b', 'sac_fly_double_play', 'fielders_choice',
       'catcher_interf', 'fielders_choice_out', 'caught_stealing_2b',
       'strikeout_double_play', 'pickoff_caught_stealing_2b',
       'caught_stealing_3b', 'pickoff_2b', 'other_out', 'wild_pitch',
       'pickoff_caught_stealing_3b', 'triple_play', 'runner_double_play',
       'pickoff_3b', 'caught_stealing_home',
       'pickoff_caught_stealing_home', 'balk', 'pickoff_error_1b',
       'sac_bunt_double_play', 'pitching_substitution', 'passed_ball',
       'ejection', 'stolen_base_2b', 'stolen_base_3b', 'pickoff_error_2b',
       'game_advisory', 'stolen_base_home', 'pickoff_error_3b'],
      dtype=object)

In [11]:
final['Double_Play'] = final['Outcome'].apply(lambda x: 1 if 'double_play' in x else 0)

In [12]:
final['Current_outs'] = final.apply(lambda x: x['Outs'] - 2 if (x['Isout'] == True) & (x['Double_Play'] == 1) else (1 if (x['Isout'] == True) else x['Outs']), axis=1)
final['runner_pos'] = final['runner_pos'].apply(lambda x: ast.literal_eval(x))

final['Solo_runner'] = final['runner_pos'].apply(lambda x: 1 if len(x) == 2 else 0)
final['Highest_Base'] = final['runner_pos'].apply(lambda x: max(x))
final['Scoring_pos'] = final['Bases'].apply(lambda x: 1 if x == 'RISP' else 0)

In [13]:
second_rbi = ['double', 'single', 'triple', 'home_run']

third_rbi = ['double', 'single', 'triple', 'home_run', 'sac_fly', 'sac_bunt', 'sac_fly_double_play', 'sac_bunt_double_play']

final['Rbi_outcome_second'] = final['Outcome'].apply(lambda x: 1 if x in second_rbi else 0)
final['Rbi_outcome_third'] = final['Outcome'].apply(lambda x: 1 if x in third_rbi else 0)

In [14]:
position_player = ['double', 'single', 'triple', 'home_run']

In [15]:
final['Score_second'] = final['Outcome'].apply(lambda x: 1 if x in position_player else 0)

In [19]:
filter_df = final.loc[(final['Solo_runner'] == 1) & (final['Highest_Base'] == 2)]

In [20]:
men_on = final.loc[final['Bases'] == 'Men_On']

In [ ]:
occurences = []

for row, i in men_on.iterrows():
    
    date = i['Date']
    
    batter = i['Batter_name']
    
    hand_pitch = i['Pitcher']
    
    past_df = final.loc[(final['Pitcher'] == hand_pitch) & (final['Date'] <= date) & (final['Batter_name'] == batter)].head(30)
    
    if len(past_df) < 30:
        continue

    rbis = (past_df['Score_second'] != 0).sum()

    successful = rbis / len(past_df)
    
    
    occurences.append({
        'Batter_name': batter,
        'Rbi_outcome': i['Rbi_outcome_third'],
        'Rbi_stay': i['Rbi_outcome_second'],
        'Success_past': successful,
        'Outs': i['Outs'],
        'homeScore': i['homeScore'],
        'awayScore': i['awayScore'],
        'inning': i['inning'],
        'isTopInning': i['isTopInning'],
        'Isout': i['Isout'],
        'Current_outs': i['Current_outs'],
        'dict_players':i['dict_players'],
        'Date': i['Date']
    })

In [ ]:
occurences_df = pd.DataFrame(occurences)
occurences_df.to_csv('atbats_total.csv')

In [ ]:
filter_df = final.loc[(final['Solo_runner'] == 1) & (final['Highest_Base'] == 1)]

In [ ]:
occurences = []

for row, i in men_on.iterrows():
    
    date = i['Date']
    
    batter = i['Batter_name']
    
    hand_pitch = i['Pitcher']
    
    past_df = final.loc[(final['Pitcher'] == hand_pitch) & (final['Date'] <= date) & (final['Batter_name'] == batter)].head(30)
    
    if len(past_df) < 30:
        continue

    rbis = (past_df['Score_second'] != 0).sum()

    successful = rbis / len(past_df)
    
    
    occurences.append({
        'Batter_name': batter,
        'Rbi_outcome': i['Rbi_outcome_second'],
        'Success_past': successful,
        'Outs': i['Outs'],
        'homeScore': i['homeScore'],
        'awayScore': i['awayScore'],
        'inning': i['inning'],
        'isTopInning': i['isTopInning'],
        'Isout': i['Isout'],
        'Current_outs': i['Current_outs'],
        'dict_players':i['dict_players'],
        'Date': i['Date']
    })

In [ ]:
occurences_df = pd.DataFrame(occurences)
occurences_df.to_csv('atbats_first_total.csv')

In [65]:
final['Highest_Base'] = final['runner_pos'].apply(lambda x: max(ast.literal_eval(x)))

In [69]:
sec_df = final.loc[(final['Highest_Base'] == 2) & (final['Current_outs'] <= 1)]

In [82]:
filter_df = final.loc[(final['Highest_Base'] ==3) & (final['Current_outs'] <=1)]

In [ ]:
occurences = []

for row, i in sec_df.iterrows():
    
    date = i['Date']
    
    batter = i['Batter_name']
    
    past_df = filter_df.loc[(filter_df['Date'] < date) & (filter_df['Batter_name'] == batter)].sort_values(by='Date').tail(10)
    
    if len(past_df) < 10:
        continue

    rbis = (past_df['Rbi'] != 0).sum()

    successful = rbis / len(past_df)
    
    
    occurences.append({
        'Batter_name': batter,
        'Rbi_outcome': i['Rbi'],
        'Success_past': successful,
        'Outs': i['Outs'],
        'homeScore': i['homeScore'],
        'awayScore': i['awayScore'],
        'inning': i['inning'],
        'isTopInning': i['isTopInning'],
        'Isout': i['Isout'],
        'Current_outs': i['Current_outs'],
    })

In [42]:
test = final.loc[final['Batter_name'] == 'Buster Posey']

In [43]:
test

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,runner_pos,Date,Current_outs,Scoring_pos
433,single,1,RISP,457763,Buster Posey,vs_LHP,False,1,0,1,1,True,"[0, 2, 1]",2014-04-01,1,1
474,walk,0,Empty,457763,Buster Posey,vs_LHP,False,2,3,4,6,True,[0],2014-04-01,2,0
453,field_out,0,Empty,457763,Buster Posey,vs_LHP,True,3,2,4,3,True,[0],2014-04-01,2,0
493,strikeout,0,Men_On,457763,Buster Posey,vs_RHP,True,2,5,4,8,True,"[0, 1]",2014-04-01,1,0
1744,single,0,Empty,457763,Buster Posey,vs_RHP,False,1,0,1,6,True,[0],2014-04-02,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183004,single,0,Empty,457763,Buster Posey,vs_RHP,False,1,0,0,5,False,[0],2021-09-29,1,0
183983,field_out,0,Empty,457763,Buster Posey,vs_RHP,True,1,4,4,8,False,[0],2021-09-30,0,0
183945,sac_fly,1,RISP,457763,Buster Posey,vs_LHP,True,1,2,3,3,False,"[0, 3, 1]",2021-09-30,0,1
183962,double,1,Men_On,457763,Buster Posey,vs_LHP,False,1,4,4,5,False,"[0, 1]",2021-09-30,1,0
183926,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,1,1,3,1,False,"[0, 2]",2021-09-30,0,1

In [27]:
final.loc[final['Date'] == '2024-09-30']['Batter_name'].unique()

array(['Brandon Nimmo', 'Jorge Soler', 'Ram√≥n Laureano', 'Gio Urshela',
       'Sean Murphy', 'Starling Marte', 'Pete Alonso', 'Tyrone Taylor',
       'Harrison Bader', 'Luis Torrens', 'Jose Iglesias', 'Orlando Arcia',
       'Luisangel Acu√±a', 'Marcell Ozuna', 'Ozzie Albies', 'Eddy Alvarez',
       'Michael Harris II', 'Matt Olson', 'Eli White', "Travis d'Arnaud",
       'Mark Vientos', 'J.D. Martinez', 'Francisco Alvarez',
       'Francisco Lindor', 'Jarred Kelenic'], dtype=object)

In [200]:
rbis_df = test.loc[(test['Rbi'] >= 1) & (test['Scoring_pos'] == 1)]
rbis_df

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,Date,Current_outs,Scoring_pos,player_position
433,single,1,RISP,457763,Buster Posey,vs_LHP,False,1,0,1,1,True,2014-04-01,1,1,2
7040,single,1,RISP,457763,Buster Posey,vs_RHP,False,1,3,1,3,False,2014-04-08,1,1,2
9759,single,1,RISP,457763,Buster Posey,vs_RHP,False,2,2,4,3,False,2014-04-10,2,1,2
16340,single,1,RISP,457763,Buster Posey,vs_LHP,False,1,1,0,3,False,2014-04-16,1,1,2
31000,single,1,RISP,457763,Buster Posey,vs_RHP,False,2,3,0,7,False,2014-04-30,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157386,double,1,RISP,457763,Buster Posey,vs_LHP,False,2,1,3,1,False,2021-09-04,2,1,2
160468,double,1,RISP,457763,Buster Posey,vs_RHP,False,0,0,2,1,True,2021-09-07,0,1,2
175884,double,1,RISP,457763,Buster Posey,vs_RHP,False,0,1,6,7,True,2021-09-22,0,1,2
177772,single,1,RISP,457763,Buster Posey,vs_RHP,False,1,2,7,7,True,2021-09-24,1,1,2
183945,sac_fly,1,RISP,457763,Buster Posey,vs_LHP,True,1,2,3,3,False,2021-09-30,0,1,3

In [44]:
scoring_pos = test[(test['Scoring_pos'] == 1)]
scoring_pos

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,runner_pos,Date,Current_outs,Scoring_pos
433,single,1,RISP,457763,Buster Posey,vs_LHP,False,1,0,1,1,True,"[0, 2, 1]",2014-04-01,1,1
2384,intent_walk,0,RISP,457763,Buster Posey,vs_RHP,False,2,5,4,8,True,"[0, 2]",2014-04-03,2,1
4516,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,1,2,7,9,True,"[0, 2, 1]",2014-04-05,0,1
4464,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,3,1,1,3,True,"[0, 3]",2014-04-05,2,1
7040,single,1,RISP,457763,Buster Posey,vs_RHP,False,1,3,1,3,False,"[0, 3, 1]",2014-04-08,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175884,double,1,RISP,457763,Buster Posey,vs_RHP,False,0,1,6,7,True,"[0, 2, 1]",2021-09-22,0,1
177738,strikeout,0,RISP,457763,Buster Posey,vs_RHP,True,3,2,2,3,True,"[0, 2, 1]",2021-09-24,2,1
177772,single,1,RISP,457763,Buster Posey,vs_RHP,False,1,2,7,7,True,"[0, 3, 1]",2021-09-24,1,1
183945,sac_fly,1,RISP,457763,Buster Posey,vs_LHP,True,1,2,3,3,False,"[0, 3, 1]",2021-09-30,0,1
183926,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,1,1,3,1,False,"[0, 2]",2021-09-30,0,1

do one jsut for risp and do for all general atbats  /do langrage and machine learning

In [45]:
date = '2019-07-10'

In [46]:
current_events = scoring_pos.loc[scoring_pos['Date'] < date].tail(30)

In [47]:
current_events

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,homeScore,awayScore,inning,isTopInning,runner_pos,Date,Current_outs,Scoring_pos
31430,single,1,RISP,457763,Buster Posey,vs_RHP,False,2,2,1,9,False,"[0, 2, 1]",2019-05-01,2,1
31370,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,2,1,0,1,False,"[0, 3]",2019-05-01,1,1
32598,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,2,0,0,1,True,"[0, 2]",2019-05-03,1,1
35373,home_run,3,RISP,457763,Buster Posey,vs_RHP,False,2,4,4,6,True,"[0, 2, 1]",2019-05-05,2,1
47409,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,2,0,0,3,True,"[0, 3, 1]",2019-05-17,1,1
48627,single,1,RISP,457763,Buster Posey,vs_RHP,False,0,0,3,3,True,"[0, 3]",2019-05-18,0,1
48610,strikeout,0,RISP,457763,Buster Posey,vs_RHP,True,1,0,0,1,True,"[0, 2, 1]",2019-05-18,0,1
51547,grounded_into_double_play,0,RISP,457763,Buster Posey,vs_RHP,True,3,1,1,5,False,"[0, 2, 1]",2019-05-21,2,1
52940,single,1,RISP,457763,Buster Posey,vs_LHP,True,2,1,6,4,False,"[0, 2]",2019-05-22,1,1
52915,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,3,0,0,1,False,"[0, 2]",2019-05-22,2,1
53621,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,3,4,4,9,False,"[0, 2, 1]",2019-05-23,2,1
55501,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,1,1,5,3,False,"[0, 2]",2019-05-25,0,1
57203,double,1,RISP,457763,Buster Posey,vs_RHP,False,1,1,2,1,False,"[0, 2]",2019-05-26,1,1
60479,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,2,0,0,1,True,"[0, 2]",2019-05-29,1,1
61723,single,1,RISP,457763,Buster Posey,vs_RHP,False,0,0,2,1,True,"[0, 3]",2019-05-31,0,1
63017,walk,0,RISP,457763,Buster Posey,vs_RHP,False,0,1,4,5,True,"[0, 2, 1]",2019-06-01,0,1
75161,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,3,3,2,5,False,"[0, 2, 1]",2019-06-12,2,1
77270,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,3,0,0,1,False,"[0, 2]",2019-06-14,2,1
83894,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,2,9,8,9,True,"[0, 2, 1]",2019-06-20,1,1
88950,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,3,1,0,3,False,"[0, 3, 1]",2019-06-25,2,1
90921,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,2,1,2,6,False,"[0, 2, 1]",2019-06-27,1,1
92006,double,1,RISP,457763,Buster Posey,vs_RHP,False,2,2,0,3,False,"[0, 2]",2019-06-28,2,1
92026,single,1,RISP,457763,Buster Posey,vs_RHP,False,2,3,1,5,False,"[0, 2, 1]",2019-06-28,2,1
93065,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,3,0,4,8,False,"[0, 2, 1]",2019-06-29,2,1
94117,walk,0,RISP,457763,Buster Posey,vs_RHP,False,0,4,1,7,False,"[0, 2, 1]",2019-06-30,0,1
94083,single,0,RISP,457763,Buster Posey,vs_LHP,False,1,2,0,3,False,"[0, 2, 1]",2019-06-30,1,1
94763,field_out,0,RISP,457763,Buster Posey,vs_RHP,True,3,0,7,6,True,"[0, 2, 1]",2019-07-01,2,1
94751,double,2,RISP,457763,Buster Posey,vs_LHP,False,0,0,6,5,True,"[0, 3, 2]",2019-07-01,0,1
94782,single,0,RISP,457763,Buster Posey,vs_RHP,False,2,2,10,8,True,"[0, 3]",2019-07-01,2,1
95824,field_out,0,RISP,457763,Buster Posey,vs_LHP,True,2,1,3,5,True,"[0, 2, 1]",2019-07-02,1,1

In [48]:
rbis = (current_events['Rbi'] != 0).sum()

successful = rbis / len(current_events)

In [49]:
successful = rbis / len(current_events)

In [50]:
successful

0.3

In [101]:
final['Outcome'].unique()

array(['strikeout', 'home_run', 'field_out', 'single', 'double', 'walk',
       'grounded_into_double_play', 'force_out', 'sac_fly', 'intent_walk',
       'sac_bunt', 'double_play', 'triple', 'hit_by_pitch', 'field_error',
       'pickoff_1b', 'sac_fly_double_play', 'fielders_choice',
       'catcher_interf', 'fielders_choice_out', 'caught_stealing_2b',
       'strikeout_double_play', 'pickoff_caught_stealing_2b',
       'caught_stealing_3b', 'pickoff_2b', 'other_out', 'wild_pitch',
       'pickoff_caught_stealing_3b', 'triple_play', 'runner_double_play',
       'pickoff_3b', 'caught_stealing_home',
       'pickoff_caught_stealing_home', 'balk', 'pickoff_error_1b',
       'sac_bunt_double_play', 'pitching_substitution', 'passed_ball',
       'ejection', 'stolen_base_2b', 'stolen_base_3b', 'pickoff_error_2b',
       'game_advisory', 'stolen_base_home', 'pickoff_error_3b'],
      dtype=object)

In [102]:
final['Bases'].unique()

array(['Empty', 'Men_On', 'RISP', 'Loaded'], dtype=object)